body {
    font-family:"Outfit", serif;
    margin: 0;
    padding: 0;
    background-image: url('fondo01.jpg');
    background-attachment:fixed;
    text-align: center;
	text-shadow: #4b4c4b 1px 1px 2px;
}

header{
    opacity: 1;
}
header h1{
    font-size: 4rem;
}


#header{
    padding: 10px;
	background-size:contain;
    background-image:url('header.jpg');
    background-size: cover;
    
}

header h1, h2, h3{
    color: rgb(240, 239, 239);
    animation: fadeIn 2s ease-in-out;
    
}


nav ul {
    list-style: none;
    padding: 0;

}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-size: 2rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    
   
}


hr{
    opacity: 0.3;
    padding: 5px;
    padding: 10px;
}


.section {
    margin: 50px;
    padding: 20px;
}
.about{
    padding: 50px;
    color:#000000;
}


.about p{
    font-size: 1.7rem;
    color:#000000;

}



#logo_html_rg{
    margin-right: 50px;
    animation: flotar 3s infinite ease-in-out;
    float: right;
}

#logo_html_rg img{
    max-width: 100px;
    max-height: auto;
}

#logo_html_lf{
    margin-left: 50px;
    animation: flotar 3s infinite ease-in-out;
    float: left;
    
}

#logo_html_lf img{
   max-width: 100px;
   max-height: auto;
}

#logo_rt {
    margin-right: 60px;
    animation: flotar 3s infinite ease-in-out;
    float: right;
    -webkit-animation: flotar 3s infinite ease-in-out;
}

#logo_rt img{
    max-width: 100px;
    max-height: auto;
 

}

#logo_lf {
    margin-left: 60px;
    animation: flotar 3s infinite ease-in-out;
    float: left;
    
}

#logo_lf img{
    max-width: 100px;
    max-height: auto;
}

@keyframes flotar {/* Animación de logos de lenguaje */
    0% { transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
    50% { transform: translateX(20px); -webkit-transform: translateX(20px); -moz-transform: translateX(20px); -ms-transform: translateX(20px); -o-transform: translateX(20px); }
    100% { transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); }
}

#title-proyect{
    margin-top: 20px;
    padding: 20px;
    color: #000000;
    animation: move-left-right 4s;
    animation-fill-mode: forwards;
    
}

#title-proyect #pc_pic01{
    max-width: 4%;
    padding: 10px;
    animation:move-left-right 6s;
   
}
#title-proyect #pc_pic02{
    max-width: 4%;
    padding: 10px;
    animation:move-left-right 1s;
    
}


@keyframes move-left-right{/* Animación de decoración de titulo pro */
    from{
        transform: translateX(-500px);
     
}
    to{
        transform: translateX(0px);

}
}

.project {
    padding: 20px;
    width: 80%;
    margin-top: 10px;
    border-radius: 8px;
    transition: transform 0.1s ease-out, opacity 0.1s ease-in;
 
}


.slide-in {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.1s ease-out;
  
}

.slide-in.visible {
    opacity: 1;
    transition: transform 0.1s ease-out, opacity 0.1s ease-in;
 
}

.project {
    background: #4b4c4b;
    padding: 15px;
    margin: 10px auto;
    margin-top: 30px;
    width: 60%;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.5s ease-out, opacity 0.5s ease-in;

}

.project:hover {
    transform: scale(1.05);
}

.project-image {
    width: 80%;
    max-width: 800px;  /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(69, 224, 164, 0.652);
}

.project h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #fff;
}

.project p {
    color: #bbb;
    font-size: 1em;
}

.view-project {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #10dd5f;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.view-project:hover {
    background-color: #2bcf36;
}

#contact h2{
    color: #000000;
    margin-top: 30px;
}

#fin{
    margin-top: 3rem;
    
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 1024px) {
 
    .project {
        width: 85%;
    }
    footer{
    margin-top: 1rem;
    }

    #logo_html_rg, #logo_html_lf, #logo_rt, #logo_lf {
        float: none;
        display: block;
        margin: 20px auto;
        text-align: center;
    }
    #title-proyect #pc_pic01,
    #title-proyect #pc_pic02 {
        max-width: 6%;  /* Aumenta el tamaño para mejor visibilidad */
    }
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    nav ul {
        padding: 0;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .project {
        width: 90%;
    }

    #logo_html_rg img, #logo_html_lf img, #logo_rt img, #logo_lf img {
        max-width: 80px;
    }
    #title-proyect {
        flex-direction: column; /* Apila los elementos */
        text-align: center;
    }
    #title-proyect #pc_pic01,
    #title-proyect #pc_pic02 {
        max-width: 10%; /* Hace los íconos más grandes */
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 5px;
        background-size: cover;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .section {
        padding: 10px;
    }

    .project {
        width: 95%;
        padding: 10px;
    }

    #title-proyect #pc_pic01,
    #title-proyect #pc_pic02 {
        max-width: 15%;
    }
    /*Animación de movimiento */
@keyframes move-left-right {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
    
    .view-project {
        padding: 8px 15px;
        font-size: 0.9em;
    }

    #logo_html_rg img, #logo_html_lf img, #logo_rt img, #logo_lf img {
        max-width: 60px;
    }
    #logo_html_lf img, #logo_lf img {
        display: none;
    }

}



